.hero-container.blhero
  %img.hero-bg.hero-bg-left{ src: "/images/home/hero-bg-left.svg", alt: "Gitlab hero background left svg" }
  %img.hero-bg.hero-bg-right{ src: "/images/home/hero-bg-right.svg", alt: "Gitlab hero background right svg" }
  .hero-content
    .row
      .col-md-5.u-padding-left-sm.u-padding-right-sm
        %h1.bold-headline.margin-top0.hero-item
          Faster releases. <br/>Better code. <br/>Less pain.
        .hero-item
          %p
            GitLab is a complete DevOps platform. Spend less time on your toolchain and more time on what matters: <strong>releasing great software.</strong>
      .col-md-7.u-padding-left-sm.u-padding-right-sm
        .hero-thumb-container#hero-video-thumb
          %img.hero-thumb{ src: "/images/home/hero-video-thumb.png", alt: "Gitlab hero video thumb png" }
          .hero-play-container
            = partial "includes/icons/home/hero-thumb-play.svg"
        .buttons-container.margin-top20.hero-item
          %a.btn.cta-btn.orange{ href: "/free-trial/" }
            Try GitLab for Free
          %a.btn.cta-btn.btn-white.flex-container.align-center{ href: "/demo/" }
            .i.fas.fa-play.play-icon
            Watch a demo

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
