---
layout: default
extra_css:
  - home.css
  - maturity.css
extra_js:
  - libs/on-scroll.js
  - home.js
  - all-clickable.js
  - libs/moment.min.js
  - maturity.js
title: "Maturity"
---

.container
  
  %p{style: "padding-top: 15px"}
    GitLab has a 
    = succeed "," do 
      %a{href: "/direction/"} broad scope and vision
    and we are constantly 
    %a{href: "/handbook/values/#iteration"} iterating
    on existing and new features. Some stages and features are more mature than others. To convey the state of our feature set and be 
    = succeed "," do 
      %a{href: "/handbook/values/#transparency"} transparent
    we have developed a maturity framework for categories, application types, and stages.

  %a.scroll-anchor{id: "legend"}
  %table.legend-table
    %tr
      %td{style: "width: 50%"}
        %a{href: "#category-maturity"} Category
        and
        %a{href: "#application-type-maturity"} Application Type
        maturity:
        = partial "includes/product/maturity_legend"
      %td{style: "width: 50%"}
        %p
          %a{href: "#maturity-by-stage"} Stage
          lifecycle:
          %ul
            %li
              = succeed ": Not yet available" do
                %b Year 0
            %li 
              = succeed ": Not used at GitLab Inc." do
                %b Year 1
            %li
              = succeed ": Majority of users work at GitLab Inc." do
                %b Year 2
            %li
              = succeed ": Majority of users don’t work at GitLab Inc." do
                %b Year 3
            %li
              = succeed ": Usable for most GitLab users" do
                %b Year 4
            %li
              = succeed ": Users of other tools start to switch" do
                %b Year 5
            %li
              = succeed ": Entry point for new customers" do
                %b Year 6
            %li
              = succeed ": Best product in the market" do
                %b Year 7
              

.container
  %section.maturity-tables

    %h2#category-maturity Category maturity

    %p
      GitLab features are grouped into a 
      = succeed "," do
        %a{href: "/handbook/product/categories/#hierarchy"} hierarchy 
      representing increasingly higher level capabilities. Features make up a broader Category, which then belong to a DevOps Stage.
      Stages are assigned a yearly
      = succeed "," do
        %a{href: "#legend"} lifecycle 
      and categories a
      = succeed "." do
        %a{href: "#legend"} maturity

    .sdlc-container.position-relative#maturity-no-padding
      .sdlc-table
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          .sdlc-column
            .stage-container
              %a{href: "##{stage.key}"}
                = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
              %a{href: "##{stage.key}"}
                %p #{stage.display_name}
            .solutions-container
              - category_keys_active = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].marketing && data.categories[k].available && data.categories[k].available <= Date.today}
              - category_keys_upcoming = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].marketing && data.categories[k].available && data.categories[k].available > Date.today}
              - if category_keys_active.length >= 1
                .current-categories
                  %p.font-bold
                    Since
                    #{stage.established}
                    GitLab added:
                  .stage-column
                    .category-list
                      - category_keys_active.each do |key|
                        .category
                          .category-cell
                            %a{ href: "##{key}"}
                              = partial "/images/maturity/#{maturity(data.categories[key], Date.today)}.svg"
                          .category-cell
                            - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                            %a{ href: "#{url}" } #{data.categories[key].name}
              - if category_keys_upcoming.length >= 1
                .future-categories
                  %p.font-bold
                    On our
                    = succeed ':' do
                      %br
                      %a.font-bold{ href: "#{stage.vision}"} roadmap
                  .stage-column
                    .category-list
                      - category_keys_upcoming.each do |key|
                        .category
                          .category-cell
                            %a{ href: "##{key}"}
                              = partial "/images/maturity/#{maturity(data.categories[key], Date.today)}.svg"
                          .category-cell
                            - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                            %a{ href: "#{url}" } #{data.categories[key].name}

    %h3#maturity-plan Planned category maturity

    %p
      The maturity framework makes it easy to visualize where GitLab is making investments, and resulting category maturity improvements. As part of the
      %a{href: "https://about.gitlab.com/handbook/product/#planning-and-strategy"} planning process
      for each category, the set of features required and expected date to reach the next maturity is maintained.

    %p
      Below is a chart which illustrates the aggregate current and future progression of all categories.
      
    .drop-shadow
      .maturity-chart
        = maturity_chart()

    %h4#maturity-by-stage Category maturity by stage

    - data.stages.stages.each do |stageKey, stage|
      - categories = data.categories.select{|catKey,cat| cat.stage==stageKey && cat.marketing && !cat.available.blank?}
      - next if categories.empty?
      %a.scroll-anchor{id: "#{stageKey}"}
      .drop-shadow
        %table.stage-table
          %col{width: "300"}
          %tbody
            %tr.stage-row
              %td.stage-icon
                %a{href: "/stages-devops-lifecycle/#{stageKey}/"}
                  = partial "/includes/icons/sdlc-icons/#{stageKey}.svg"
                %a{href: "/stages-devops-lifecycle/#{stageKey}/"}
                  %p #{stage.display_name}
              %td.stage-maturity{colspan: "3"}
                .left-align
                  %p
                    = succeed ":" do
                      %a{href: "#legend"} Stage Lifecycle
                    #{lifecycle(stage.lifecycle)}
                  %p
                    = succeed ":" do
                      %a{href: "/analysts"} Analyst Reports
                    %ul
                      - if stage.analyst_reports
                        - stage.analyst_reports.each do |report|
                          %li 
                            %a{href: "#{report.url}"} #{report.title}
              %td.stage-contributions{colspan: "2"}
                .left-align
                  %p
                    = succeed ":" do
                      Velocity over last 3 months
                  %p
                    %span
                      %a{href: "https://gitlab.com/groups/gitlab-org/-/merge_requests?scope=all&utf8=✓&state=merged&label_name[]=devops%3A%3A#{stageKey}"} #{stage_velocity[stageKey]} 
                    changes merged
                  %p
                    %span
                      %a{href: "https://gitlab.com/groups/gitlab-org/-/merge_requests?scope=all&utf8=✓&state=merged&label_name[]=Community%20contribution&label_name[]=devops%3A%3A#{stageKey}"} #{stage_contributions[stageKey]} 
                    community contributions
            %tr
              %td.maturity-chart-embed{colspan: 6}
                = maturity_chart(stage: stageKey, embed: true)
            %tr
              %td
                Category
              %td.text-center
                Today
              %td.text-center
                Q3
              %td.text-center
                Q4
              %td.text-center
                Q1
              %td.text-center
                Q2
            %tr
              %td
                %i Date
              %td.text-center
                %i 
                  %span.today
              %td.text-center
                %i 2019-10-22
              %td.text-center
                %i 2020-01-22
              %td.text-center
                %i 2020-04-22
              %td.text-center
                %i 2020-07-22
            - categories.each do |categoryKey, category|
              %tr
                %td
                  %a.scroll-anchor{id: "#{categoryKey}"}
                  - if category.vision 
                    %a{href: "#{category.vision}"} #{category.name}
                  - else
                    = category.name
                %td.maturity-cell
                  = partial "/images/maturity/#{maturity(category, Date.today)}.svg"
                %td.maturity-cell
                  = partial "/images/maturity/#{maturity(category, Date.new(2019,10,22))}.svg"
                %td.maturity-cell
                  = partial "/images/maturity/#{maturity(category, Date.new(2020,01,22))}.svg"
                %td.maturity-cell
                  = partial "/images/maturity/#{maturity(category, Date.new(2020,04,22))}.svg"
                %td.maturity-cell
                  = partial "/images/maturity/#{maturity(category, Date.new(2020,07,22))}.svg"

    %h2#application-type-maturity Application Type Maturity

    %p
      %a{href: "/handbook/product/application-types"} Application types
      represent different types of projects that people create and manage on GitLab. Much like our product categories, not all application types are at the same level of maturity. See below for where each application type currently stands and when they will reach higher
      = succeed "." do
        %a{href: "#legend"} maturity levels
    .drop-shadow
      %table.stage-table
        %tbody
          %tr
            %td
              Application Type
            %td.text-center
              Today
            %td.text-center
              Q3
            %td.text-center
              Q4
            %td.text-center
              Q1
            %td.text-center
              Q2
          %tr
            %td
              %i Date
            %td.text-center
              %i 
                %span.today
            %td.text-center
              %i 2019-10-22
            %td.text-center
              %i 2020-01-22
            %td.text-center
              %i 2020-04-22
            %td.text-center
              %i 2020-07-22
          - data.application_types.each do |apptypeKey, apptype|
            %tr
              %td
                - if apptype.vision 
                  %a{href: "#{apptype.vision}"} #{apptype.name}
                - else
                  = apptype.name
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(apptype, Date.today)}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(apptype, Date.new(2019,10,22))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(apptype, Date.new(2020,01,22))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(apptype, Date.new(2020,04,22))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(apptype, Date.new(2020,07,22))}.svg"

    %h2 Changes
    %p
      Learn how to make changes to categories and their maturity on our 
      = succeed "." do
        %a{ href: "../../handbook/marketing/website/#working-with-category-maturity"} website handbook page